* {
  box-sizing: flex;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-color:darkviolet;
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 30%;
  background-color: burlywood;
  text-align: center;
  margin: 128px auto;
  border-radius: 5px;
  padding-bottom: 32px;
}

.important-btn {
  margin-right: 5px;
  width: 20px;
  border-width: 1px;
  border-radius: 49%;
  padding: 1px;
  border-color: white;
  color: white;
  background: transparent;
}

h1 {
  margin: 32px 0;
  font-size: 33px;
}

.complete {
  text-decoration: line-through;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgba(17, 122, 255, 1);
  outline: none;
  width: 250px;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background:blue;
  color: white;
  text-transform: capitalize;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: black;
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px;
  border-radius: 5px;
  width: 80%;
  font-size: large;
}

.iconsContainer {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}
